<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="images/x-icon" href="/minilogo.png" />
    <title>Valore</title>
</head>

<body>
    <div style="display: flex; align-items: center; flex-direction: column; justify-content: center; height: 100vh;">
        <h2 class="title" style="font-size: 5rem; font-weight: 300;">
            <%= misuratore %>
        </h2>
        <p class="text" style="font-weight: 600;">
            <%= difference %>
        </p>
        <a href="\home" class="idLink"
            style="text-align: center; position: absolute; bottom: 50px;">Torna alla
            home</a>
    </div>
</body>

</html>