<!doctype html>
<html lang="en" data-bs-theme="light" data-bs-theme="dark">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="images/x-icon" href="/minilogo.png" />
    <!-- Bootstrap CSS -->
    <title>Form</title>
</head>

<body>
    <div style="display: flex; justify-content: center; margin-top: 200px;">
        <h2 class="title" style="font-size: 3.5rem; font-weight: 400;">
            Monitoraggio usi energetici
        </h2>
    </div>
    <div class="container my-5">
        <div class="card mx-auto card-table topdown-animation" style="margin-top:20px;">
            <div class="card-body">
                <form action="/sendForm" method="POST">
                    <div class="mb-4" style="display: flex; flex-direction: row; align-items: end;">
                        <div style="flex: 5;">
                            <label for="stabilimento" class="form-label">Misuratore</label>
                            <select class="form-control" name="misuratore" id="misuratore">
                                <% for (var i=0; i < datalog.length; i++) { %>
                                    <option value="<%=datalog[i].NomeMisuratore%>">
                                        <%=datalog[i].NomeMisuratore%>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div style="display: flex; justify-content: center; flex: 1;">
                            <label class="switch">
                                <input type="checkbox" name="isReport" id="isReport">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="dateFrom" class="form-label">Da</label>
                        <input type="datetime-local" id="dateFrom" class="form-control" name="dateFrom">
                    </div>
                    <div class="mb-4">
                        <label for="dateTo" class="form-label">A</label>
                        <input type="datetime-local" id="dateTo" class="form-control" name="dateTo">
                    </div>
                    <button type="submit" id="submitBtn" class="btn btn-primary mt-1 mb-2 topdownslower-animation"
                        disabled>Invia</button>
                </form>
            </div>
        </div>
    </div>
    <script src="./scripts/main.js"></script>
</body>
<!--
                 *       +
           '                  |
       ()    .-.,="``"=.    - o -
             '=/_       \     |
          *   |  '=._    |
               \     `=./`,        '
            .   '=.__.=' `='      *
   +                         +
        O      *        '       .
-->

</html>